.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_container{
  position: relative;
  left: -50px;
}

.container{
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.fields_section{
  position: relative;
  top: 15px;
}

.title{
  margin-top: 20px;
  font-size: 28px;
}

.img_edit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_title{
  color: #c4c4c4;
}

.img{
  width: 175px;
  height: 175px;
  border-radius: 150px;
  overflow: hidden;
  cursor: pointer;
}

.img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.edit_button{
  margin-top: 10px;
  padding: 7.5px 25px;
  background-color: white;
  border: 1px solid #00A562;
  border-radius: 25px;
  color: #00A562;
  font-size: 14px;
  cursor: pointer;
}

.edit_button:hover{
  background-color: #00A562;
  color: white;
}

.img{
  margin-top: 5px;
}

.container_button_change{
  margin-top: 5px;
}

.fields{
  margin-right: 50px;
}

.field{
  margin-bottom: 25px;
}

.field_input{
  width: 350px;
  border: none;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #777777;
  outline: none;
}

.field_lable{
  margin-top: 5px;
}

.fields_button{
  padding: 10px 25px;
  background-color: #00A562;
  border: 1px solid #00A562;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.fields_button:hover{
  background-color: #007d4b;
}

.error{
  border-bottom-color: #f44336 !important;
}

.error_message{
  color: #f44336 !important;
}

.sucess_table{
  position: relative;
  left: 125px;
  width: 225px;
  padding: 12.5px 0;
  margin-top: 25px;
  text-align: center;
  border: 1px solid #81c784;
  color: #81c784;
  border-radius: 10px;
}
