.comment{
  padding: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_left{
  display: flex;
  justify-content: left;
  align-items: center;
}

.user_img{
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  overflow: hidden;
}

.user_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main{
  margin-top: 10px;
  font-weight: 400;
}

.user_name{
  font-size: 16px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.user_name:hover{
  border-bottom: 2px solid #00A562;
}

.main_edit{
  outline: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  border: 1px solid #777777 !important;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.hide{
  display: none;
}
.cancel_button{
  margin-right: 8px;
  border: 1px solid #f44336 !important;
  color: #f44336;
}

.cancel_button:hover{
  background-color: #f44336;
  color: white;
}

.submit_button{
  border: 1px solid #00A562 !important;
  color: white;
  background-color: #00A562 !important;
}

.submit_button:hover{
  background-color: #007d4b !important;
}

.button{
  margin-top: 5px;
  font-size: 14px;
  position: relative;
  padding: 7.5px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
}

