<div class="container" *ngIf="isLoad">
  <div class="login" *ngIf="!isAuth">
    <p class="login_text roboto-regular">Увійдіть або Зареєструйтесь, швидко та легко!</p>
    <button class="login_button">Увійти</button>
  </div>
  <div class="social">
    <div class="icon roboto-regular">Instagram</div>
    <div class="icon roboto-regular">Facebook</div>
    <div class="icon roboto-regular">Twitter</div>
    <div class="icon roboto-regular">Youtube</div>
    <div class="icon roboto-regular">Linkedin</div>
    <div class="icon roboto-regular">Github</div>
  </div>
</div>
