.main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  margin-top: 20px;
  position: relative;
}

.tabs{
  margin-right: 50px;
  width: 900px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title{
  margin-top: 10px;
  font-size: 28px;
  display: inline-block;
  position: relative;
  top: 10px;
}

.info_active{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.invisible{
  width: 400px;
  height: 400px;
  padding: 15px;
}
